# Dependency directory
node_modules/

# Environment variables
.env
# Optional: also ignore specific environment files if used, e.g.:
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build artifacts
build/
dist/
/public # if build files are output here

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE and OS specific files
.idea/
.vscode/
.DS_Store # macOS
Thumbs.db # Windows
*.pyc # Python (if any)
*.o
*.swp
